html {
  font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
}

body {
}

h1 {
  font-family: Arial, Helvetica, san-serif;
}

.clearfix {
  overflow: auto;
}

header {
  background-color: #000034;
  color: white;
  padding: 5%;
  text-align: center;
}
